@media screen and (max-width: 989px) {
	.logo-link {
		order: -1;
	}
	.header-logo-visible {
		display: none;
	}
	.navbar {
		margin-left: 0 !important;
		margin-right: 0 !important;
		box-shadow: 0px 1px 10px #000000;
	}
}

.navbar {
	position: relative;
	z-index: 1;
	margin-top: 5vh !important;
	margin-bottom: 5vh !important;
	margin-left: 12vh;
	margin-right: 12vh;
	box-shadow: 0px 1px 10px #000000;
	background-color: rgba(36, 36, 36, 0.4) !important;
}

/* .header-logo {
	border: 1px solid red;
	position: relative;
	visibility: hidden;
	max-height: 2vh;
	width: 150px;
} */
.header-logo-visible {
	/* border: 1px solid red; */
	position: absolute;

	/* margin-right: 5vw; */
	margin-top: -50px;
	width: 150px;
	z-index: 1000;
}
.nav-item {
	white-space: nowrap;
	border: none !important;
}
.logo-link {
	margin: 0 150px 0 0;
}
