@media screen and (max-width: 526px) {
	.tut-image {
		display: block;
		margin: auto;
		width: 85vw !important;
		max-height: 30vh;
		/* height: 20vh; */
		object-fit: fill !important;
	}
	.spotlight-image {
		display: block;
		margin: auto;
		width: 85vw !important;
		/* max-width: 90vw; */
		max-height: 30vh;
		/* height: 20vh; */
		object-fit: fill !important;
	}
}
.tut-image {
	display: block;
	margin: auto;
	width: 40vw;
	max-height: 30vh;
	/* height: 20vh; */
	object-fit: none;
}
.spotlight-image {
	display: block;
	margin: auto;
	width: 40vw;
	/* max-width: 90vw; */
	max-height: 30vh;
	/* height: 20vh; */
	object-fit: none;
}
.imgContainer {
	display: block;
	margin: auto;
	/* border: 1px solid #dddddd; */
	width: 40vw;
	height: 30vh;
	position: relative;
}

.tag {
	position: absolute;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
	font-size: 40px;
}
.placeholder-tag {
	position: absolute;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	color: #ffffff;
	font-weight: bold;
	/* display: block; */
	font-size: 30px;
}
.placeholder-image {
	display: block;
	margin: auto;
	width: 25vw;
	max-height: 30vh;
	/* height: 20vh; */
	object-fit: none;
}
.placeholder-img-container {
	display: block;
	margin: auto;
	/* border: 1px solid #dddddd; */
	width: 25vw;
	height: 30vh;
	position: relative;
}
