.p-tabview-panels {
	background-color: rgba(36, 36, 36, 0.61) !important;
}
.p-unselectable-text a {
	background-color: rgba(36, 36, 36, 0.63) !important;
	border: 1px solid black !important;
}
.p-unselectable-text a:hover {
	background-color: rgba(36, 36, 36, 0.63) !important;
	border: 1px solid black !important;
	color: white !important;
}
.p-tabview-selected a {
	background-color: rgb(44, 44, 44) !important;
	box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.788) !important;
}
.p-tabview-nav:hover {
	color: white !important;
}
/* .timeline-Widget {
	background-color: rgba(197, 39, 39, 0.151) !important;
} */
