.p-tabview-panels {
	background-color: rgba(36, 36, 36, 0.61) !important;
}
.p-unselectable-text a {
	background-color: rgba(36, 36, 36, 0.63) !important;
	border: 1px solid black !important;
	border-bottom: none !important;
}
.p-unselectable-text a:hover {
	background-color: rgba(36, 36, 36, 0.63) !important;
	border: 1px solid black !important;
	border-bottom: none !important;
	color: white !important;
}
.p-tabview-selected a {
	color: black !important;
	background-color: rgb(238, 238, 238) !important;
	box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.788) !important;
}
.p-tabview-nav:hover {
	color: white !important;
}
/* .timeline-Widget {
	background-color: rgba(197, 39, 39, 0.151) !important;
} */
